@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5em 1em;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #040404;
  height: 100vh;
}

.header,
.footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.left-links,
.right-links {
  display: flex;
  gap: 1em;
}

.left-links {
  margin-left: 1em;
}

.right-links {
  margin-right: 1em;
}

.content {
  text-align: center;
  margin: auto 0px;
}

.footer {
  background-color: #eeeeee;
}