.one-em {
    font-size: 1em;
}

.one-rem {
    font-size: 1rem;
}

.two-em {
    font-size: 2em;
}

.two-rem {
    font-size: 2rem;
}

.two-hundred-percent {
    font-size: 200%;
}


.icon-container.large {
    font-size: 30px;
}

.em-icon {
    width: 1em;
    height: 1em;
}

.rem-icon {
    width: 1rem;
    height: 1rem;
}

.parent {
    font-size: 30px;
}