/* Color the background of all pages a alice blue */
body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* Format the homepage logo */
.logo {
    width: 200px;
    height: auto;
}

.link-container {
    background-color: #F5DEB3;
    padding: 8px;
}