/* Color the background of all pages a alice blue */
body {
    background-color: #F5DEB3;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}