html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

html {
    --s: 120px;
    
    --_g: radial-gradient(#0000 70%,#1a2030 71%);
    background:
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2),
      conic-gradient(#0f9177 25%,#fdebad 0 50%,#d34434 0 75%,#b5d999 0);
    background-size: var(--s) var(--s); 
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    height: 50%;
    width: 75%;
    border-radius: 30px;
    border: 5px solid black;
    background-color: #f4f4f4;
}
