/* General Formatting & Background Style */
html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

/* Interface Positioning */
body {
    background-color: #3C3F41;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 75%;
    border-radius: 30px;
    border: 5px solid #1a2030;
    background-color: #f4f4f4;
}

.title {
    text-align: center;
    border-radius: 25px 25px 0px 0px;

    border: 2px solid red;
}

.body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    border-radius: 0px 0px 25px 25px;
    border: 2px solid blue;
}

.score {
    border: 2px solid red;
    display: flex;
}

.interface {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


/* Score Section Styles */



/* Input Section Styles */
.human .input {
    border: 1px solid green;
}

.computer .input {
    border: 1px solid red;
}

.button, .input h3 {
    border: 1px solid red;
}

.human .input,
.computer .input {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #3C3F41;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.human .input h2,
.computer .input h2 {
    color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.human .input p,
.computer .input p {
    color: #f4f4f4;
    text-align: center;
    margin: 0;
}

.human .input button,
.computer .input button {
    border-radius: 10px;
    height: 60px;
    width: 70px;
}

.rock img,
.paper img,
.scissors img {
    height: 30px;
    width: auto;
}