html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

html {
    --s: 120px;
    
    --_g: radial-gradient(#0000 70%,#1a2030 71%);
    background:
      var(--_g),var(--_g) calc(var(--s)/2) calc(var(--s)/2),
      conic-gradient(#0f9177 25%,#fdebad 0 50%,#d34434 0 75%,#b5d999 0);
    background-size: var(--s) var(--s); 
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    border-radius: 10px;
}

h3 {
    color: #f4f4f4;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 75%;
    border-radius: 30px;
    border: 5px solid #1a2030;
    background-color: #f4f4f4;
}

.title {
    text-align: center;
    border-radius: 25px 25px 0px 0px;

    border: 2px solid red;
}

.body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 25px;
    gap: 10px;

    border: 2px solid blue;
}

.human {
    border: 1px solid green;
}

.computer {
    border: 1px solid red;
}

.human,
.computer {
    padding: 10px;
    border-radius: 20px;;
    background-color: #3C3F41;
}

.rock img,
.paper img,
.scissors img {
    height: 50px;
    width: 50px;
}