/* Both Elements: Grouping Selector */
/* A font size of 28px and a list of fonts containing Helvetica and Times New Roman, with sans-serif as a fallback */
.firstElement,
.secondElement {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/* The First Element: Class Selector */
/* A black background and white text */
.firstElement {
    background-color: black;
    color: white;
}

/* The Second Element: Class Selector */
/* A Yellow Background */
.secondElement {
    background-color: yellow;
}