#div-1 {
    background-color: red;
}

#span-1 {
    background-color: cyan;
}

#span-2 {
    background-color: purple;
}

#div-2 {
    background-color: green;
}

#img {
    width: 50px;
    height: 50px;
}