/* Set all <p> tags to sans-serif & 18px */
p {
    font-family: sans-serif;
    font-size: 18px;
}

/* Set <h1> tags to be in monospace & 30px */
h1 {
    font-family: monospace;
    font-size: 30px
}