/* Set family, size, and weight */
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100; /* This number can be from 1 to 1000 */
}

/* Set family, size, and center-align text */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}