/* Color the background of all pages a alice blue */
body {
    font-family: 'Lato', sans-serif;
    background-color: aliceblue;
    text-align: center;
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove spacing/padding */
    margin: 0; /* Remove spacing/margin */
}

a {
    text-decoration: none;
}

a:link {
    color: #74380d;
}

a:visited {
    color: black;
}

a:hover,
a:focus {
    color: #555;
}

/* Format the homepage logo */
.logo {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

.recipe-section {
    background-color: lightgray;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    width: 425px;
    margin: 5px auto 30px auto;
    padding: 10px;
    border-radius: 20px;
}

.link-container {
    background-color: #F5DEB3;
    /*
        Setting the margin as 5px auto applies a top/bottom margin of 5px, and a 
        left/right margin of auto. This effectively centers the block-level element 
        horizontally within its parent.
    */
    margin: 5px auto;

    padding: 3px;
    border: 2px solid #74380d;
    border-radius: 10px;
    width: 400px;
}