/* Color the background of all pages a alice blue */
body {
    background-color: #F5DEB3;
    font-family: 'Lato', sans-serif;
}

/* Color the headings a pastel brown */
h1,
h2 {
    color: #8B4513;
}

/* Center the main heading */
h1 {
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

.text-section {
    border: 5px solid gray;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
}