html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.hero,
.introduction,
.information,
.call-to-action,
.footer {
    display: flex;
    flex: 1;

    border: 1px solid blue; /* Debugging */
}

.hero,
.footer {
    flex-direction: column;
    background-color: #1F2937;
}