html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    background-color: #1F2937;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: scroll;
}

.hero,
.introduction,
.image-captions,
.quote,
.bottom-section {
    display: flex;
    flex: 1;
}

.hero,
.footer {
    flex-direction: column;
    background-color: #1F2937;
}