/* Define universal selector */
div {
    color: white;
}

/* Define different HEX colors */
.hexRed {
    background-color: #ff0000;
}

.hexGreen {
    background-color: #00ff00;
}

.hexBlue {
    background-color: #0000ff;
}


/* Define different HEX colors with transparency */
.hexTransRed {
    background-color: #ff000080;
}

.hexTransGreen {
    background-color: #00ff0080;
}

.hexTransBlue {
    background-color: #0000ff80;
}