/* Universal selector */
div {
    color: blue;
  }


/* Class selector */
.alert-text {
    color: red;
}


/* ID selector */
#title {
  background-color: green;
}

/* Grouping selector */
.read,
.unread {
  background-color: black;
}

.read {
  color: white;
}

.unread {
  color: yellow;
}


/* Chaining Selector */
.subsection {
  background-color: blueviolet;
}

.subsection.header {
  color: red;
}

.subsection#preview {
  color: yellow;
}


/* Descendant Combinator */
.ancestor {
  color:aquamarine;
}

.child {
  color:bisque;
}

.ancestor .child {
  background-color: brown;
}